<%- include('partials/header') -%>
    <h1>CONTACT</h1>

  <p><%= contact_Content%></p>
  <br>
  <div class="link_class">
    <a href="mailto:mpriyom02@gmail.com" class="link_compose" style="text-align:center"> Mail</a>
  </div>


<%- include('partials/footer') -%>
